{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Hello Player !</h1>
	<p>
		<a href="/users">/Joueurs</a>
		page.</p>
	<p>
		<a href="/unicorns">/Licornes</a>
		page.</p>
	<p>
		<a href="/attacks">/attaques</a>
		page.</p>
{% endblock %}
