{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/> 
{% endblock %}

{% block content %}
<main class="homePages">
  <section>
    <img class="imgMedium" src="https://image.similarpng.com/very-thumbnail/2022/01/Cute-unicorn-on-transparent-background-PNG-1.png">
    <h1>Bienvenue dans Happiness & Glitters</h1>
  </section>
  <section>
    <p> Ici tu vas pouvoir mettre à l'épreuve ta licorne et défier celle de ton adversaire !</p>

    <div class="versus">
      <img src="https://img.freepik.com/premium-vector/cute-unicorn-heads-vector-sky_70350-123.jpg">
      <img class="imgSmall" src="https://upload.wikimedia.org/wikipedia/commons/7/70/Street_Fighter_VS_logo.png">
      <img src="https://image.similarpng.com/very-thumbnail/2020/05/cute-unicorn--vector-with-candy-cake-PNG.png">
    </div>

    <p>Le but du jeu ? Envoyer le plus de bisous, de hugs et d'arc-en-ciel possible
    </br>pour gagner des points et sortir vainqueur de ce combat d'amour! </p>
  <section>
    <img class="imgMedium" src="https://image.similarpng.com/very-thumbnail/2020/05/Dabbing-unicorn-with-stars-PNG.png">
  </section>
    <button style="button"> Je veux jouer ! </button>
  </section>
</main>
{% endblock %}
