{% extends 'layout.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/userForm.css">
{% endblock %}

{% block title %}
	Happiness and Glitters Home -
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="homePages">
		<section>
			<img class="imgMedium" src="https://s3-alpha-sig.figma.com/img/1985/132b/4bb71d802cad62d810aab7cfd697a6d0?Expires=1667779200&Signature=P8x2cmnVM9arSX-GM-54nZUXsMpmZVvdxzLQ9z7Q6bhtnH50VEgy5QeeuoMMsZygY0R9JBfOEc-rNVG6LcCRowBcGBxDe6vL5~XcRK-SQUUREUyThBbWbziew-x0A42I1jzDfM3SCo5TrB~srbyY3flWdEGjudPsGJgfrCE~swpFM-CacZNGJT2WM-aKmCqo~WwUI1-~zk3nQ~ilMiDZ-T~G6eXEOYKoCxoalw0nwGnt6dwLbsRhzEX28pJe0WOPhYAP-BKO63P0KWznaE5jvD3QCNyhWRZEv9dOxLT0C5I11JxxGoqmgWifbguTWVwojGgdN8XWS2AZp9I8iLCwng__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
			<h1>Bienvenue dans Happiness & Glitters</h1>
		</section>
		<section>
			<p>
				Ici tu vas pouvoir mettre à l'épreuve ta licorne et défier celle de ton adversaire !</p>

			<div class="versus">
				<img src="https://s3-alpha-sig.figma.com/img/28e3/97a8/ebb760f3305998c008e259009a5031f0?Expires=1667779200&Signature=MgtjPnmKu5mobWno4EF6Mmcyv-dIZWint2Yl2RL5~cFTjrNZkdrixvuue36w~2Zl3a0c-aYViqqBvpfAHXO3knMilMUMiuT97KD~il27rOoNnTv1fMnrbbBPYSaiD6X5DlQQ7oqmLYndg8UbuoiFxOB1ucSHu8gG5UNYekBPWLk7AZeBLVZ17qutIDQYN70X2gRR24bY58fUrr5TKx01XToHnXrHR8IM9JrkqkpBWPOG5rKQvxi2Sqyt-YJUrVOLEoo~THhnzvygSp5ELVwO-VpTbTt-a9JvZXfBchPLPGxNjcdC2aVfFJ09Kex5NFcf1FdzGwF2RYqexxffSY4d-Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
				<img class="imgSmall" src="https://s3-alpha-sig.figma.com/img/4b74/222c/aaf0c7546917576fe61621b7956d4e03?Expires=1667779200&Signature=LiJs31ML1JyWzQaukTXQbuIqxXhqTwgFdWnJ9v-Axi-A1E3OJx-mA1iCJUBD~WaUuJH04opFySSc352S5gCJapIBhz4AHEBg-CQ6sV-RL-DuMqvHd~Cw8LvGAp52jUhp2TInok~fmkVp3sEjyG6Qv-5SJZpXHFO2pN7mMfhdmziN8XOtkSxE6u7wGyxJdInxjT6AQ41yY7mCSJg6TvXPyM9nd5u9NciUamzQRtehw4ikmCvwCNTR4lWny8gkJ5JitaPvXN9msI8AJulnQoe1Cgdazf1SAvjY7Qa4NWCGJxPCgnVArW1sd3zO3GLtTAf~-u-BA0Iq1hZDD4naltO8Zw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
				<img src="https://s3-alpha-sig.figma.com/img/47d3/0f05/4b038cfa2a21a95383434a51309ec4a0?Expires=1667779200&Signature=Je51RfNFmcJ-Q~OCD9WSTfYFDQ6gvn4NdKn1BNs0UNS6ykN2ZNs2XyQP72O5qqfNvkKerRn56gWjbl3sVo19S4nhJVJ6TTDVCiQcQRAz60aWYXxAMluTkYhdWInMyvzoJjaYTEw6Sq0Xu55Q--6znfmXyiqHHCd32~~2Xgq4nfrkmzA3A7dDM1FcFPjX3T4812ppWapvPSV21eumWuLYh5RMzMaJhmOtFRYbMlQyeq7vBQ4lrxq2dTgP6Ffqz8hMJJCp9iS7VYlxllrJ6eP~mWNx3G5aiSBzapGO0zT0bWIN1-huYvSmdfg7Xc9Zaxjueaf9jrFfG3CGpNr6jjSy7Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
			</div>

			<p>Le but du jeu ? Envoyer le plus de bisous, de hugs et d'arc-en-ciel possible</p>
		</br>pour gagner des points et sortir vainqueur de ce combat d'amour!
	</p>
</section>
<section class="bottomSection">
	<img class="imgMedium" src="https://s3-alpha-sig.figma.com/img/4808/15d8/d4a3f072be4dc23ba9ae66043517efaf?Expires=1667779200&Signature=hK0MMfAAslzjobEtGX0xFJ5iCEcLfeXXxGU74K~UuLbCcJyboYUu7wbpNYyyve03TUgLhE~95nR9f~lHc90k-EDnoYt11C8OSm6mUbFWZmjCEbNveKXdKLOh4aSz9ABn8-bMAylXYMbuDoHqMw7pgYHVE6GXQKK~c9abAvOYH7EieyrXwAjwiPohwSacf~O9i5BJwY8D9tEVtORLs2wf6FX9eDQzXX47Pv9TwHwwzvK08uoZ~C6kxnf9kFZZgS2ud7VVkJgixxlR7AJk8jkBpnvvRHeVzOWaZBx4DAfriZzIac~OBM1UJgOQmT3K0G5b7VaL-NZtSST32YIMqM9smA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
	<button class="redButton" data-modal="modalOne">Je veux jouer!</button>
</section>

<div id="modalOne" class="modal">
	<div class="modal-content">
		<a class="close">&times;</a>
		{% include 'User/_addUserForm.html.twig' %}
	</div>
</div></main>{% endblock %}{% block javascript %}{{ parent() }}<script type="application/javascript" src="/assets/js/formModale.js"></script><script type="application/javascript" src="/assets/js/profilePic.js"><script src="/assets/js/header.js"></script></script>{% endblock %}
