<form method="post">
	<label for="name" required>Nom</label>
	<input type="text" value="" name="name" id="name">
	<label for="score" required>Score</label>
	<input type="text" value="" name="score" id="score">
	<button>Submit</button>
</form>
