main.about h1 {
    text-align: center;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px red;
    font-family: var(--primary-font);
}

section.dev ul {
    list-style-type: none;
    padding-left: 0%;
}

section.dev ul {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

section.dev ul p {
    font-family: var(--secondary-font);
    text-align: center;
}

section.dev ul li {
    width: 20%;
    height: 20%;
}

img.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.dev ul li:hover {
    width: 25%;
    height: 25%;
    cursor: pointer;
    font-size: 2.5vw;
    font-style: bold;
    text-shadow: 1px 1px 1px red;
}

section.dev ul li div {
    display: flex;
    flex-direction: row-reverse;
}

section.dev ul li div a:last-of-type {
    margin-right: 10px;
}

img.social {
    width: 3vw;
    max-width: 20px;
}

@media screen and (max-width: 760px) {
}
