h1 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
}

h1 a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
    font-size: 20px;
}

section h1 {
    background: #FACFCF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

table {
    width: 50%;
    table-layout: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.userPic {
    border-radius: 50%;
    max-width: 180px;
    height: auto;
    margin: 15px auto;
}

.tbl-content {
    height: auto;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(5, 1, 1, 0.3);
    justify-items: center;
    text-align: center;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(85, 85, 85, 0.041);
}



.bottomSection {
    margin: 20px 20%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top {
    display: flex;
    justify-content: space-around;
    margin: auto 20%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.right-top {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1.5rem;
    width: 30%;
}

.rank {
    padding: 8px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.points {
    padding: 8px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



div {
    display: flex;
    flex-direction: column;
}

div a {
    justify-content: center;
    margin: 12px auto;
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.redButton {
    box-shadow: 0px 10px 14px -7px #db6464;
    background: linear-gradient(to bottom, #db6464 5%, #bd5959 100%);
    background-color: #db6464;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #f54f4f;
    justify-content: center;
    margin: auto;
}

.redButton:hover {
    background: linear-gradient(to bottom, #bd5959 5%, #db6464 100%);
    background-color: #bd5959;
}

.redButton:active {
    position: relative;
    top: 1px;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}