input {
    display: block;
    width: 70%;
    margin: 4px auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-weight: 600;
    transition: .8s box-shadow;
    outline: none;
}

section h1 {

    background: #FACFCF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

h3 {
    text-align: center;
}

h1 a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.formSection {
    margin: 50px 10px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 10px;
}

.formSectionModale {
    display: block;
    width: 70%;
    margin: 20px auto;
}

.thumb-image {
    float: left;
    width: 100px;
    position: relative;
    padding: 5px;
}

.buttons {
    display: flex;
}

.redButton,
#redButton {
    box-shadow: 0px 10px 14px -7px #db6464;
    background: linear-gradient(to bottom, #db6464 5%, #bd5959 100%);
    background-color: #db6464;
    border-radius: 42px;
    display: inline;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #f54f4f;
    justify-content: center;
    margin: auto;
    border: 0;
    margin-bottom: 20px;
}

.redButton:hover,
#redButton:hover {
    background: linear-gradient(to bottom, #bd5959 5%, #db6464 100%);
    background-color: #bd5959;
    /* margin-bottom: 20px; */
}

.redButton:active,
#redButton:active {
    /* position: relative; */
    top: 1px;
    /* margin-bottom: 20px; */
}

.cancelButton,
#cancelButton {
    box-shadow: 0px 10px 14px -7px #494747;
    background: linear-gradient(to bottom, #504d4d 5%, #6d6565 100%);
    background-color: #db6464;
    border-radius: 42px;
    display: table;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1d1515;
    justify-content: center;
    /* margin: auto; */
    border: 0;
    margin-bottom: 20px;
}

.cancelButton:hover,
#cancelButton:hover {
    background: linear-gradient(to bottom, #2c2c2c 5%, #070505 100%);
    background-color: #1d1919;
    margin-bottom: 20px;
}

.cancelButton:active,
#cancelButton:active {
    position: relative;
    top: 1px;
    margin-bottom: 20px;
}

.userPic,
.custom-file-upload,
.thumb-image,
.image-holder {
    border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
    min-width: 170px;
    min-height: 170px;
    height: auto;
    margin: 15px auto;
    margin-bottom: 40px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 10px auto;
    margin-top: 5rem;
    border: none;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clearfix {
    display: inline;
    ;
}