{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/userForm.css">
{% endblock %}

{% block content %}
	 <section class="formSection">
	 <form method="post" enctype="multipart/form-data" action="users/add">

		<div class="image-holder" id="image-holder">
		<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="userPic" >
		</div>

		<label for="firstName" display="hidden" required></label>
		<input type="text" value="" name="firstName" id="firstName" placeholder="First Name">

		<label for="lastName" display="hidden" required></label>
		<input type="text" value="" name="lastName" id="lastName" placeholder="Last Name">

		<label for="nickName" display="hidden" required></label>
		<input type="text" value="" name="nickName" id="nickName" placeholder="Nickname">

		<label for="email" display="hidden" required></label>
		<input type="text" value="" name="email" id="email" placeholder="Email">

		<label for="avatar"></label>
		<input id="avatar" name="avatar" type="file"  accept="image/*" value=""/>

		<label for="description" display="hidden"></label>
		<input type="text" value="" name="description" id="description" placeholder="Description">


		<button class="redButton" type="submit">Je démarre l’aventure !</button>

	</form>
	</section>

 
{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
        $("#avatar").on('change', function() {
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          var image_holder = $("#image-holder");
          image_holder.empty();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++) 
              {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                  }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert("This browser does not support FileReader.");
            }
          } else {
            alert("Pls select only images");
          }
        });
      });

 
	  
</script>
{% endblock %}
