{% block content %}
	<section class="formSection">
		<form method="post" enctype="multipart/form-data" action="/users/add">

			<div class="imageHolder" id="imageHolder">
				<img src="\assets\images\profile\img_avatar.png" alt="Avatar" class="userPic" id="avatar-src">
			</div>

			<label for="firstName" display="hidden" required></label>
			<input type="text" value="" name="firstName" id="firstName" placeholder="First Name">

			<label for="lastName" display="hidden" required></label>
			<input type="text" value="" name="lastName" id="lastName" placeholder="Last Name">

			<label for="nickName" display="hidden" required></label>
			<input type="text" value="" name="nickName" id="nickName" placeholder="Nickname">

			<label for="email" display="hidden" required></label>
			<input type="text" value="" name="email" id="email" placeholder="Email">

			<label for="password" display="hidden" required></label>
			<input type="text" value="" name="password" id="password" placeholder="Password">

			<label for="avatar"></label>
			<input id="avatar" name="avatar" type="file" accept="image/*" value="" onchange="showPreview(event);">

			<label for="description" display="hidden"></label>
			<input type="text" value="" name="description" id="description" placeholder="Description">


			<button class="redButton" type="submit">Je démarre l’aventure !</button>

		</form>
	</section>

{% endblock %}
