<form method="post">
	<label for="name" required>Nom</label>
	<input type="text" value={{user.name}} name="name" id="name">
	<label for="email" required>Email</label>
	<input type="text" value={{user.email}} name="email" id="email">
	<button>Enregistrer</button>
</form>
