{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}

{% block footer %}
 <footer>
    <a href="#">GDPR</a>
    <a href="#">Mentions légales</a>
    <a href="#">About</a>
</footer>
{% endblock %}