<header class="topHeader">
    <a href="/">
      <img class="unicornLogo" src="/assets/images/logo4.png">
    </a>

    <a class="headerLinks headerTitle" href="/">Happiness & Glitters</a>

    <button type="button" class="icon" onclick="displayMenu()" id="burger">
      <i class="fa-solid fa-bars"></i>
    </button>

</header>

<aside class="topnav responsivenav" id="mytopnav">
      <ul>
        <li>
          <a class="headerLinks radiusButton" href="/rules">Règles</a>
        </li>
        <li>
          <a class="headerLinks radiusButton" href="">Mon profil</a>
        </li>
        <li>
          <a class="headerLinks radiusButton" href="/users">Joueurs</a>
        </li>
        <li>
        <a class="headerLinks radiusButton" href="#">Combat</a>
        </li>
      </ul>
</aside>
