<header class="topHeader">
    <a href="/">
      <img class="unicornLogo" src="assets/images/logo4.png">
    </a>

    <a href="/">Happiness & Glitters</a>

    <a class="icon" onclick="displayMenu()" id="burger">
      <i class="fa fa-bars"></i>
    </a>

    <a href="">
      <img class="imgavatar" src="assets/images/avatar.png">
    </a>
</header>

<aside class="topnav responsivenav" id="mytopnav">
      <ul>
        <li>
          <a href="/" class="radiusButton">Accueil</a>
        </li>
        <li>
          <a href="#" class="radiusButton">Mon profil</a>
        </li>
        <li>
          <a href="/users/" class="radiusButton">Joueurs</a>
        </li>
        <li>
        <a href="#" class="radiusButton">Combat</a>
        </li>
      </ul>
</aside>


