<header class="topHeader">
	<a href="/">
		<img class="unicornLogo" src="/assets/images/logo4.png">
	</a>

	<a class="headerLinks headerTitle" href="/">Happiness & Glitters</a>

	<button type="button" class="icon" onclick="displayMenu()" id="burger">
		<i class="fa-solid fa-bars"></i>
	</button>

</header>

<aside class=" topnav responsivenav" id="mytopnav">
      <ul>
        <li>
          <a href="/" class="headerLinks radiusButton">Accueil</a>
        </li>
        <li>
          <a href="#" class="headerLinks radiusButton">Mon profil</a>
        </li>
        <li>
          <a href="/users/" class="radiusButton">Joueurs</a>
        </li>
        <li>
        <a href="#" class="radiusButton">Combat</a>
        </li>
      </ul>
</aside>
