<form method="post">
	<label for="name" required>Nom</label>
	<input type="text" value="" name="name" id="name">
	<label for="cost" required>Coût</label>
	<input type="text" value="" name="cost" id="cost">
	<label for="gain" required>Gain</label>
	<input type="text" value="" name="gain" id="gain">
	<label for="successRate" required>Taux de Réussite</label>
	<input type="text" value="" name="successRate" id="successRate">
	<button>Submit</button>
</form>
