{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/combat.css">
{% endblock %}

{% block content %}

<div class="cards">

<section class="formSection">
<h1>Unicorn 1</h1>
    <section class="card">
        <img src="/assets/images/2.svg" height="87"  width="100" />
    </section>
</section>

<section class="formSection">
<h1>Unicorn 1</h1>
    <section class="card">
blabla
    </section>
</section>

<section class="formSection">
<h1>Unicorn 1</h1>
    <section class="card">
blabla
    </section>
</section>

</div>


{% endblock %}
