{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/assets/css/fight.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/> 
{% endblock %}

{% block content %}

<main class="choose_fighter">
    
        <p>Choisis ton adversaire!</p>
    
        <table>
            <thead>
                <tr>
                <th class="title_array"></th>
                <th class="title_array">Pseudo</th>
                <th class="title_array">Rang</th>
                <th class="title_array">points</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                <th><img src="assets/images/avatar.png"></th>
                <td>Marco59</td>
                <td>12</td>
                <td>318</td>
                </tr>

                <tr>
                <th><img src="assets/images/avatar.png"></th>
                <td>Marco59</td>
                <td>12</td>
                <td>318</td>
                </tr>

                <tr>
                <th><img src="assets/images/avatar.png"></th>
                <td>Marco59</td>
                <td>12</td>
                <td>318</td>
                </tr>

                <tr>
                <th><img src="assets/images/avatar.png"></th>
                <td>Marco59</td>
                <td>12</td>
                <td>318</td>
                </tr>

                <tr>
                <th scope="row"><img src="assets/images/avatar.png"></th>
                <td>Marco59</td>
                <td>12</td>
                <td>318</td>
                </tr>                
            </tbody>
        </table>
    

    <button class="goFight"style="button"> Lancer le combat ! </button>
</main>
{% endblock %}

{% block section %}

{% endblock %}