{% extends 'layout.html.twig' %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/fight.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
{% endblock %}

{% block content %}
    <main>
        <div class="choose_fighter">
            <p>Choisis ton adversaire!</p>
        </div>

        
    </main>
{% endblock %}